
/**
 * @file yr_verdata.css
 * This file contains all css used for the yr_verdata module.
 */

p.yr-sun {
  background: transparent url(http://fil.nrk.no/yr/grafikk/sym/b38/01d.png) center left no-repeat;
  padding-left: 40px;
}
.yr-symbol-tabs {
  margin-top: 1em;
  padding-top: 1em;
}
.yr-symbol-tab {
  border-top: 1px solid rgb(0,0,0);
  display: block;
  float: left;
  height: 160px;
  padding: 0 5px;
  width: 145px;
}
#yr-symbol.yr-symbol-tab.yr-period-0 {
  clear: both;
}
.yr-symbol-tab {
  border-top: 0;
  border-bottom: 1px solid rgb(0,0,0);
}
.yr-block-forecast {
  margin: 1em 0;
}
.yr-symbol-tab p {
  margin: 5px 0;
}
.yr-tab-precipitation, .yr-tab-pressure {
  font-size: 80%;
}
.yr-tab-time {
  font-size: 75%;
}
.yr-tab-symbols {
  line-height: 3em;
}
.yr-tab-symbols img {
  background: transparent;
  border: 0;
  vertical-align: middle;
}
.yr-tab-temp {
  font-size: 130%;
}
.yr-tab-temp.warm {
  color: rgb(235,0,0);
}
.yr-tab-temp.cold {
  color: rgb(0,0,235);
}